<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <ng-container [matColumnDef]="col" *ngFor="let col of displayedColumns">
      <mat-header-cell *matHeaderCellDef> {{col | uppercase}} </mat-header-cell>
      <!-- <mat-cell *matCellDef="let scorecard"> {{scorecard[col]}} </mat-cell> -->
      <mat-cell *matCellDef='let scorecard'>
          <mat-form-field>
            <input [name]="col" matInput [(ngModel)]="scorecard[col]">
          </mat-form-field>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let score; columns: displayedColumns;"></mat-row>
  </mat-table>

  <div class="new-player">
    <mat-form-field>
      <input name="player" matInput placeholder="Player" [(ngModel)]="playerName">
    </mat-form-field>
    <button mat-button mat-raised-button (click)="createNewPlayer()">New Player</button>
  </div>

</div>
